ss/ftp/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "ftp_1_Connection_Name": {
      "type": "string",
      "defaultValue": "ftp"
    },
    "ftp_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "FTPServer"
    },
    "ftp_1_serverAddress": {
      "type": "string",
      "metadata": {
        "description": "Server Address"
      }
    },
    "ftp_1_userName": {
      "type": "string",
      "metadata": {
        "description": "User Name"
      }
    },
    "ftp_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password"
      }
    },
    "ftp_1_serverPort": {
      "type": "int",
      "metadata": {
        "description": "FTP Port Number (example: 21)"
      }
    },
    "ftp_1_isSSL": {
      "type": "bool",
      "metadata": {
        "description": "Enable SSL? (True/False)"
      },
      "defaultValue": false
    },
    "ftp_1_isBinaryTransport": {
      "type": "bool",
      "metadata": {
        "description": "Enable Binary Transport? (True/False)"
      },
      "defaultValue": false
    },
    "ftp_1_disableCertificateValidation": {
      "type": "bool",
      "metadata": {
        "description": "Disable Certificate Validation? (True/False)"
      },
      "defaultValue": false
    },
    "ftp_1_closeConnectionAfterRequestCompletion": {
      "type": "bool",
      "metadata": {
        "description": "Close FTP connection everytime after request completes? (True/False)"
      },
      "defaultValue": false
    },
    "servicebus_1_Connection_Name": {
      "type": "string",
      "defaultValue": "servicebus"
    },
    "servicebus_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "WorkbenchConnection"
    },
    "servicebus_1_connectionString": {
      "type": "securestring",
      "metadata": {
        "description": "Azure Service Bus Connection String"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Hash_File_Content": {
              "type": "Function",
              "inputs": {
                "body": "@triggerBody()",
                "function": {
                  "id": "/subscriptions/e62ff314-dfd1-4d0c-9a16-9e522748eec9/resourceGroups/PreInvent-Samples/providers/Microsoft.Web/sites/SamplesFunctionApp/functions/GenericHashFunction"
                }
              },
              "runAfter": {}
            },
            "Hash_Metadata": {
              "type": "Function",
              "inputs": {
                "body": {
                  "contentType": "@triggerOutputs()['headers']['Content-Type']",
                  "etag": "@triggerOutputs()['headers']['x-ms-file-etag']",
                  "id": "@triggerOutputs()['headers']['x-ms-file-id']",
                  "name": "@triggerOutputs()['headers']['x-ms-file-name-encoded']",
                  "path": "@triggerOutputs()['headers']['x-ms-file-path-encoded']"
                },
                "function": {
                  "id": "/subscriptions/e62ff314-dfd1-4d0c-9a16-9e522748eec9/resourceGroups/PreInvent-Samples/providers/Microsoft.Web/sites/SamplesFunctionApp/functions/GenericHashFunction"
                }
              },
              "runAfter": {
                "Hash_File_Content": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "RequestId",
                    "type": "String",
                    "value": "@{guid()}"
                  }
                ]
              },
              "runAfter": {
                "Hash_Metadata": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable_2": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ProcessDateTime",
                    "type": "String",
                    "value": "@{utcNow()}"
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              }
            },
            "Send_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "ContentData": "@{base64(concat('{    \"requestId\": \"',variables('RequestId'),'\",    \"userChainIdentifier\": \"0x456421109356d575bc112a5f95531fb543e53889\",    \"applicationName\": \"FileRegistry\",    \"workflowName\": \"File\",    \"parameters\": [        {            \"name\": \"registryAddress\",            \"value\": \"0xa3ac2599907b84107237628cbfe4730854e665f1\"        },        { \"name\": \"fileId\", \"value\": \"',triggerOutputs()['headers']['x-ms-file-id'],'\" },        { \"name\": \"location\", \"value\": \"',base64ToString(triggerOutputs()['headers']['x-ms-file-path-encoded']),'\" },        { \"name\": \"fileHash\", \"value\": \"',body('Hash_File_Content'),'\" },        { \"name\": \"fileMetadataHash\", \"value\": \"',body('Hash_Metadata'),'\" },        { \"name\": \"contentType\", \"value\": \"',triggerOutputs()['headers']['Content-Type'],'\" },        { \"name\": \"etag\", \"value\": \"',triggerOutputs()['headers']['x-ms-file-etag'],'\"},        { \"name\": \"processedDateTime\", \"value\": \"',variables('ProcessDateTime'),'\" }               ],    \"connectionId\": 1,    \"messageSchemaVersion\": \"1.0.0\",    \"messageName\": \"CreateContractRequest\"}'))}"
                },
                "path": "/@{encodeURIComponent(encodeURIComponent('ingressqueue'))}/messages",
                "queries": {
                  "systemProperties": "None"
                }
              },
              "runAfter": {
                "Initialize_variable_2": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_file_is_added_or_modified": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['ftp_1']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/default/triggers/onupdatedfile",
                "queries": {
                  "folderId": "L2Nzdg==",
                  "queryParametersSingleEncoded": true,
                  "includeFileContent": true,
                  "inferContentType": true
                }
              },
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              },
              "metadata": {
                "L2Nzdg==": "/csv"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "ftp_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'ftp')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('ftp_1_Connection_Name'))]",
                "connectionName": "[parameters('ftp_1_Connection_Name')]"
              },
              "servicebus_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebus_1_Connection_Name'))]",
                "connectionName": "[parameters('servicebus_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('ftp_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('servicebus_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('ftp_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'ftp')]"
        },
        "displayName": "[parameters('ftp_1_Connection_DisplayName')]",
        "parameterValues": {
          "serverAddress": "[parameters('ftp_1_serverAddress')]",
          "userName": "[parameters('ftp_1_userName')]",
          "password": "[parameters('ftp_1_password')]",
          "serverPort": "[parameters('ftp_1_serverPort')]",
          "isSSL": "[parameters('ftp_1_isSSL')]",
          "isBinaryTransport": "[parameters('ftp_1_isBinaryTransport')]",
          "disableCertificateValidation": "[parameters('ftp_1_disableCertificateValidation')]",
          "closeConnectionAfterRequestCompletion": "[parameters('ftp_1_closeConnectionAfterRequestCompletion')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('servicebus_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('servicebus_1_Connection_DisplayName')]",
        "parameterValues": {
          "connectionString": "[parameters('servicebus_1_connectionString')]"
        }
      }
    }
  ],
  "outputs": {}
}