ss/adobe/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "servicebus_1_Connection_Name": {
      "type": "string",
      "defaultValue": "servicebus-4"
    },
    "servicebus_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Workbench15Manage"
    },
    "servicebus_1_connectionString": {
      "type": "securestring",
      "metadata": {
        "description": "Azure Service Bus Connection String"
      }
    },
    "adobecreativecloud_1_Connection_Name": {
      "type": "string",
      "defaultValue": "adobecreativecloud-1"
    },
    "adobecreativecloud_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Adobe Creative Cloud"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Hash_File_Content": {
              "type": "Function",
              "inputs": {
                "body": "@triggerBody()",
                "function": {
                  "id": "/subscriptions/e62ff314-dfd1-4d0c-9a16-9e522748eec9/resourceGroups/PreInvent-Samples/providers/Microsoft.Web/sites/SamplesFunctionApp/functions/GenericHashFunction"
                }
              },
              "runAfter": {}
            },
            "Hash_Metadata": {
              "type": "Function",
              "inputs": {
                "body": {
                  "contentType": "@triggerBody()['event']['activitystreams:object']['xdmAsset:format']",
                  "etag": "@triggerBody()['event']['activitystreams:object']['xdmAsset:asset_id']",
                  "id": "@triggerBody()['event']['activitystreams:object']['xdmAsset:asset_id']",
                  "name": "@triggerBody()['event']['activitystreams:object']['xdmAsset:asset_name']",
                  "path": "@triggerBody()['event']['activitystreams:object']['xdmAsset:path']"
                },
                "function": {
                  "id": "/subscriptions/e62ff314-dfd1-4d0c-9a16-9e522748eec9/resourceGroups/PreInvent-Samples/providers/Microsoft.Web/sites/SamplesFunctionApp/functions/GenericHashFunction"
                }
              },
              "runAfter": {
                "Hash_File_Content": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "RequestId",
                    "type": "String",
                    "value": "@{guid()}"
                  }
                ]
              },
              "runAfter": {
                "Hash_Metadata": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable_2": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ProcessDateTime",
                    "type": "String",
                    "value": "@{utcNow()}"
                  }
                ]
              },
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              }
            },
            "Send_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['servicebus_1']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "ContentData": "@{base64(concat('{    \"requestId\": \"',variables('RequestId'),'\",    \"userChainIdentifier\": \"0x456421109356d575bc112a5f95531fb543e53889\",    \"applicationName\": \"FileRegistry\",    \"workflowName\": \"File\",    \"parameters\": [        {            \"name\": \"registryAddress\",            \"value\": \"0xa3ac2599907b84107237628cbfe4730854e665f1\"        },        { \"name\": \"fileId\", \"value\": \"',triggerBody()['event']['activitystreams:object']['xdmAsset:asset_id'],'\" },        { \"name\": \"location\", \"value\": \"',triggerBody()['event']['activitystreams:object']['xdmAsset:path'],'\" },        { \"name\": \"fileHash\", \"value\": \"',body('Hash_File_Content'),'\" },        { \"name\": \"fileMetadataHash\", \"value\": \"',body('Hash_Metadata'),'\" },        { \"name\": \"contentType\", \"value\": \"',triggerBody()['event']['activitystreams:object']['xdmAsset:format'],'\" },        { \"name\": \"etag\", \"value\": \"',triggerBody()['event']['activitystreams:object']['xdmAsset:asset_id'],'\"},        { \"name\": \"processedDateTime\", \"value\": \"',variables('ProcessDateTime'),'\" }               ],    \"connectionId\": 1,    \"messageSchemaVersion\": \"1.0.0\",    \"messageName\": \"CreateContractRequest\"}'))}"
                },
                "path": "/@{encodeURIComponent(encodeURIComponent('ingressqueue'))}/messages",
                "queries": {
                  "systemProperties": "None"
                }
              },
              "runAfter": {
                "Initialize_variable_2": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_an_asset_is_added": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['adobecreativecloud']['connectionId']"
                  }
                },
                "body": {
                  "webhookUrl": "@{listCallbackUrl()}"
                },
                "path": "/webhook1/csm/cc/events/asset_created"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "adobecreativecloud": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'adobecreativecloud')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('adobecreativecloud_1_Connection_Name'))]",
                "connectionName": "[parameters('adobecreativecloud_1_Connection_Name')]"
              },
              "servicebus_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebus_1_Connection_Name'))]",
                "connectionName": "[parameters('servicebus_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('adobecreativecloud_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('servicebus_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('servicebus_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('servicebus_1_Connection_DisplayName')]",
        "parameterValues": {
          "connectionString": "[parameters('servicebus_1_connectionString')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('adobecreativecloud_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'adobecreativecloud')]"
        },
        "displayName": "[parameters('adobecreativecloud_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}